*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    color: #ededed;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 20px 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: #ededed;
    position: relative;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #092030;
    /* animation */
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a{
    text-decoration: none;
    color: #ededed;
    font-weight: 500;
    color: #ededed;
    margin-left: 3rem;
    position: relative;
}

/* navbar animation start */
.navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #08a3e0;
  transition: width 0.4s;
}

.navbar a:hover{
    color: #08a3e0;
}

.navbar a:hover::after {
  width: 100%;
}
/* navbar animation end */

.home{
    height: 100vh;
    background: url('resources/home.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3{
    font-size: 1.75rem;
    font-weight: 700;
    color: #08a3e0;
}

.home-content p{
    font-size: 1rem;
    margin: 20px 0 40px;
    text-align: justify;
    width: 90%;
}

.home-content .btn{
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 48px;
}

.btn a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #08a3e0;
    border: 2px solid #08a3e0;
    border-radius: 0.5rem;
    font-size: 1.125rem;
    color: #092030;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.btn a:hover{
    color: #08a3e0;
}

.btn a:nth-child(2){
    background: transparent;
    color: #08a3e0;
}

.btn a:nth-child(2):hover{
    color: #092030;
}

.btn a:nth-child(2)::before{
    background-color: #08a3e0;
}

.btn a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background: #092030;
    z-index: -1;
    transition: 0.5s;
}

.btn a:hover::before{
    width: 100%;
}

.home-icon{
    position: absolute;
    bottom: 40px;
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.home-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: transparent;
    border: 2px solid #08a3e0;
    border-radius: 50%;
    font-size: 1.25rem;
    color: #08a3e0;
    text-decoration: none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.home-icon a:hover{
    color: #092030;
}

.home-icon a::before{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background: #08a3e0;
    z-index: -1;
    transition: 0.5s;
}

.home-icon a:hover::before{
    width: 100%;
}

.home-imgHover{
    position: absolute;
    top: 0;
    right: 50px;
    width: 680px;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.home-imgHover:hover{
    background: #092030;
    opacity: 0.7;
}

/*  keyframes animation */
@keyframes showRight {
    100%{
        width: 0;
    }
}

/* responsive */
@media (max-width: 480px) {
    html{
        font-size: 75%;
    }
    
    body{
        max-height: none;
    }

    header{
        padding: 20px 5%;
    }

    .navbar a{
        display: none;
    }

    .home{
        background: url('resources/home-mobile.png');
        background-size: cover;
        background-position: center;
        padding: 0 5%;
    }

    .home-content{
        margin-top: 40%;
    }

    .home-content h1{
        font-size: 2.5rem;
    }

    .home-content h3{
        font-size: 1.5rem;
    }

    .home-content .btn{
        display: flex;
        justify-content: space-between;
        width: 200px;
        height: 36px;
    }

    .btn a{
        width: 90px;
        height: 100%;
    }

    .home-icon{
        bottom: 0;
    }
}

